.hidden {
  display: none;
}

body {
  padding: 30px;
}

video {
  width: 300px;
  height: auto;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid grey;
  background: white;
}

.controls input {
  width: 70px;
}
